version: '2.4'

services:
  ### Nginx Container #######################################
  nginx:
    image: nginx:stable-alpine
    container_name: Jade-nginx
    ports:
      - 80:80
      - 443:443
    volumes_from:
      - www
    volumes:
      - ./nginx/cert:/etc/nginx/cert
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./logs/nginx:/var/log/nginx
    environment: 
      TZ: Asia/Shanghai
    links:
      - php
      - redis
    networks:
      server_network:
        ipv4_address: ${NGINX_SERVER_IP}

  ### PHP Container #########################################
  php:
    image: jaderh/kitchen-php:latest
    container_name: Jade-php
    volumes_from:
      - www
    volumes:
      - ./php/conf/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs/php:/var/log/php
    environment: 
      TZ: Asia/Shanghai
    links:
      - mysql
    networks:
      server_network:
        ipv4_address: ${PHP_SERVER_IP}

  ### MySQL Container #######################################
  mysql:
    image: mysql:8.0.13
    container_name: Jade-mysql
    ports:
      - 3306:3306
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
      - ./mysql/conf:/etc/mysql/conf.d
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Shanghai
    networks:
      server_network:
        ipv4_address: ${MYSQL_SERVER_IP}

  ### Redis Container #######################################
  redis:
    image: redis:5.0.5-alpine3.10
    container_name: Jade-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - 6379:6379
    volumes:
      - ./redis/data:/data
    environment:
      - TZ=Asia/Shanghai
    networks:
      server_network:
        ipv4_address: ${REDIS_SERVER_IP}

  ### Web-Root Container ####################################
  www:
    image: tianon/true
    container_name: Jade-www
    volumes:
      - ${WWW_PATH}:/data/www

networks: 
  server_network:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: "${SERVER_SUBNET}"